* {
    margin: 0 auto;
    background-color: darkgray;
    font-family: 'Raleway', sans-serif;
}

.triangulo{
    border: 10px transparent;
    border-color: transparent;
}

#imagem {
    margin-top: 20px;
    padding: 10px;
    display: block;
    width: 300px;
    height: 300px;
}

p {
    padding: 10px;
    text-shadow: 2px 2px 2px rgb(105, 105, 105);
    text-align: center;
}

.button {
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    border-style: solid;
    border-radius: 10px;
    border-color: antiquewhite;
    display: block;
    font-size: 17px;
    text-align: center;
}

a{
    text-decoration: none;
}

.button:hover {
    color: rgb(192, 127, 127);
    background-color: rgb(255, 240, 240);
    box-shadow: 1px 1px 1px antiquewhite;
}

#ovo {
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 15px; 
  transition: transform 1s;
  transform: translateY(0) scale(0.5);
}

#ovo:hover, :focus {
    transform: translateY(-15px) scale(1.0);
}
